body{ background-color: #333;}

/* Paragraph */
div#page{ width: 960px; margin: 0 auto;}
p.strong-red{ color: red; font-weight: bold;}
p.light-blue{ font-weight: lighter; color:blue;}
p.light-blue{ font-size: 18px;}